<ion-header>
  <ion-toolbar>
    <ion-title>Residencial Pass</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-welcome">
  <div class="auth-welcome__container">
    <h1 class="auth-welcome__title">Bienvenido</h1>
    <p class="auth-welcome__subtitle">Acceso al fraccionamiento por QR</p>

    <div class="auth-welcome__actions">
      <ion-button routerLink="/auth/register" expand="block" class="auth-welcome__btn">
        Registrarme como vecino
      </ion-button>
      <ion-button routerLink="/auth/login" expand="block" fill="outline" class="auth-welcome__btn">
        Iniciar sesión
      </ion-button>
    </div>
  </div>
</ion-content>
